# Toto je šablona. Skutečné údaje vyplňte do souboru .env

# Připojení k databázi (Neon nebo Docker)
DATABASE_URL="postgresql://jmeno:heslo@localhost:5432/moje_db"

# Tajný klíč pro NextAuth (vygenerujte si náhodný řetězec)
NEXTAUTH_SECRET="vas_tajny_klic"

